@import url('https://fonts.googleapis.com/css2?family=VT323&family=Zilla+Slab&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #131313;
  font-family: 'VT323', monospace;
}

/* For Chrome, EDGE, Opera, Others */
.scrollbar::-webkit-scrollbar {
  width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  background: rgb(118, 123, 135);
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgb(75, 78, 85);
}