@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}

section {
  height: 100vh;
}